<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="cn.stu.job" />

  <!--  &lt;!&ndash;corn&ndash;&gt;
    <bean id="cronDetailMoney" class="org.springframework.scheduling.quartz.JobDetailFactoryBean">
        <property name="name" value="cronDetailMoney" />
        <property name="group" value="group2" />
        <property name="jobClass" value="cn.stu.job.CornJobMoney" />
        <property name="durability" value="true" />
    </bean>

    <bean id="cronTriggerMoney" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="name" value="cronTriggerMoney" />
        <property name="group" value="group2" />
        <property name="jobDetail" ref="cronDetailMoney" />
        <property name="cronExpression" value="0 * 8-22 * * ? *" />
    </bean>

    &lt;!&ndash;调度器&ndash;&gt;
    <bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <property name="jobDetails">
            <list>
                <ref bean="cronDetailMoney"/>
            </list>
        </property>
        <property name="triggers">
            <list>
                <ref bean="cronTriggerMoney"/>
            </list>
        </property>
    </bean>-->

    <bean id="cronDetailMoney" class="org.springframework.scheduling.quartz.JobDetailFactoryBean">
        <property name="name" value="cronDetailMoney" />
        <property name="group" value="group1" />
        <property name="jobClass" value="cn.stu.testP2P.P2PJob" />
        <property name="durability" value="true" />
    </bean>

    <bean id="cronTriggerMoney" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="name" value="cronTriggerMoney" />
        <property name="group" value="group1" />
        <property name="jobDetail" ref="cronDetailMoney" />
        <property name="cronExpression" value="0 * 8-22 * * ? *" />
    </bean>

    <!--调度器-->
    <bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <property name="jobDetails">
            <list>
                <ref bean="cronDetailMoney"/>
            </list>
        </property>
        <property name="triggers">
            <list>
                <ref bean="cronTriggerMoney"/>
            </list>
        </property>
    </bean>

</beans>